* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: #383c41;
}

/* Menu */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #dae5e8;
    position: fixed;
    text-transform: uppercase;
    z-index: 1;
    box-shadow: 0px 1px 4px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 8vh;
    width: auto;
}

.right-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

header .shopping-cart--icon img, header .login--icon img {
    height: 5vh;
    width: auto;
}

header .menu {
    width: 450px;
    display:inline-block;
}

header .menu a {
    display: inline-flex;
    justify-content: center;
    margin-right: 20px;
}

header .menu a, .segundo-menu a {
    text-decoration: none;
    color: #383c41;
    border: 1px solid transparent;
}

header .menu a:hover {
    border-bottom: 1px solid #383c41;
}

.menu-bar--mobile {
    display: none;
}

.menu-mobile {
    display: none;
}

/* Banner */


.banner-1 {
    background-image:url("img/Slide-3.jpg");
    height: 100vh;
    max-width: 100vw;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-2 {
    background-image:url("img/Slide2.jpg");
    height: 100vh;
    max-width: 100vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-3 {
    background-image:url("img/Slide\ 1.jpg  ");
    height: 100vh;
    max-width: 100vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pointer-direita {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    top: 50vh;
    right: 5px;
    background-image: url('img/right-arrow.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer-esquerda {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    top: 50vh;
    left: 5px;
    background-image: url('img/left-arrow.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner .botao-compre-agora {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #dae5e8;
    height: 40px;
    width: 200px;
    font-size: 16px;
    text-decoration: none;
    color: #383c41;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 0px 2px black;
}

.banner h2 {
    font-family: 'Yellowtail', cursive;
    color: #dae5e8;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight:400;
    margin-bottom: 120px;
    margin-top: 150px;
    margin-left: 120px;
    text-transform: none;
    max-width: 650px;
    text-shadow: 1px 0px 2px black;
    display: block;
}

.banner .botao-compre-agora:hover {
    background-color: #383c41;
    color: #dae5e8;
}

/* categorias */

.segundo-menu {
    background-color: #dae5e8;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segundo-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
    margin-right: 50px;
    border: 1px solid #383c41;
    border-radius: 20px;
}

/* RESPONSIVIDADE */

@media (min-width:0px) and (max-width: 490px) {
    body {
        font-size: 14px;
    }

    .banner h2 {
        font-family: 'Yellowtail', cursive;
        font-size: 35px;
        font-weight:400;
        margin-bottom: 120px;
        margin-top: 20px;
        margin-left: 40px;
        max-width: 350px;
        text-shadow: 1px 1px 4px black;
    }

    header {
        justify-content: space-around;
    }
    
    header .logo {
        display: flex;
        align-items: center;
        margin-left: 90px;
    }
    
    header .logo img {
        height: 6vh;
        width: auto;
    }

    header .menu {
        display: none;
    }

    header .shopping-cart--icon img, header .login--icon img {
        height: 4.5vh;
        width: auto;
    }

    header .right-menu {
        margin-left: 50px;
    }

    .menu-bar--mobile  {
        display: block;
        height: 4.5vh;
        width: auto;
    }

    .menu-bar--mobile img {
        display: block;
        height: 100%;
        width: auto;
        margin-left: 10px;
    }

    .menu-mobile {
        display: none;
        position: absolute;
        z-index: 99999;
        left: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #000000b9;
        width: 60vw;        
    }

    .menu-mobile a {
        border-bottom: 1px solid #dae5e8;
    }

    .menu-mobile a span {
        display: inline-block;
        margin-left: 10px;
        margin-top: 25px;
        text-decoration: none;
        color: #dae5e8;
        font-size: 16px;
        margin-bottom: 2px;
    }

    .segundo-menu {
        padding-left: 40px
    }
    
    .segundo-menu a {
        width: 120px;
        font-size: 12px;
        
    }
    /*banner */
    .pointer-direita {
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: transparent;
        position: absolute;
        z-index: 999;
        top: 55vh;
        right: 5px;
        background-image: url('img/right-arrow.png');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pointer-direita:active {
        background-color: transparent;
    }
    
    .pointer-esquerda {
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: transparent;
        position: absolute;
        z-index: 999;
        top: 55vh;
        left: 5px;
        background-image: url('img/left-arrow.png');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-1 {
        background-image:url("img/slide-3-mobile.png");
    }
    
    .banner-2 {
        background-image:url("img/slide-2-mobile.png");
        height: 100vh;
        max-width: 100vw;
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .banner-3 {
        background-image:url("img/slide-1-mobile.png");
        height: 100vh;
        max-width: 100vw;
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .banner .botao-compre-agora {
        position:absolute;
        top: 80vh;
    }
}


/* RODAPÉ */

footer{
    padding: 10px 0px;
    background-color: #80898d;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
}

.lista-redes {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes-sociais li {
    list-style: none;
}

.redes-sociais {
    padding-right: 100px;
}

.dados-contato a {
    color: white;
}

.lista-links li {
    list-style: none;
}

.lista-links {
    margin-right: 20%;
}

#titulo-rodape {
    font-size: 1.5em;
}

.mapouter {
    margin-left: 10%;
    text-align: right;
    height: 200px;
    width: 200px;
    left: 6%;
    bottom: 8%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 200px;
}

@media (max-width: 800px) {
    .mapouter {
        display: none !important;
    }
    .lista-links{
        margin: auto;
    }
    .redes-sociais {
        margin-top: 10%;
        margin-left: 25%;
    }
    footer {
        max-width: 100vw;
    }
}