[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime='moveRight'] {
    transform: translate3d(-150px, 0, 0);
}

[data-anime='moveLeft'] {
    transform: translate3d(150px, 0, 0);
}

[data-anime='transformScale'] {
    transform: scale(0.1);
}


[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transform: scale(1);
}

@media screen and (max-width: 490px){

    [data-anime='moveRight'] {
        transform: translate3d(0, -30px, 0);
    }
    
    [data-anime='moveLeft'] {
        transform: translate3d(0, -30px, 0);
    }
}